* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Barlow", sans-serif;
  background: hsla(141, 54%, 86%, 1);

  background: linear-gradient(
    90deg,
    hsla(141, 54%, 86%, 1) 0%,
    hsla(333, 73%, 85%, 1) 50%,
    hsla(211, 58%, 79%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#CAEFD7", endColorstr="#F5BFD7", GradientType=1);
}

.ul {
  list-style-type: none;
  display: flex;
  padding: 18px 0;
  background-size: 400% 400%;
  background-image: linear-gradient(
    -45deg,
    #eca0ff,
    #aab2ff,
    #84ffc9,
    #eca0ff,
    #aab2ff
  );
  animation: 12s myGradient infinite;
  border-radius: 40px;
  box-shadow: 3px 3px 20px #84ffc9;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.li a {
  color: #fff;
  text-decoration: none;
  padding: 45px 45px;
  font-family: verdana;
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 1px;
  opacity: 0.9;
}

.active {
  transition: 1s;
}

.active1 {
  transition: 1s;
}

.active2 {
  transition: 1s;
}

.active3 {
  transition: 1s;
}

li a {
  color: #fff;
  text-decoration: none;
  padding: 45px 45px;
  font-family: verdana;
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 1px;
  opacity: 0.9;
}

.image-conten {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

ul > li {
  text-transform: capitalize;
  color: #030303;
  text-decoration: none;
  list-style-type: none;
  font-family: verdana;
  font-weight: lighter;
  font-size: 24px;
  padding: 10px 0;
  opacity: 0.9;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
}

.main-description {
  margin: 0 auto;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  padding: 10px;
}

@media only screen and (max-width: 992px) {
    .main-container {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 16px;
      background-color: #282828;
    }
  
    .main-description{
      color: #f3f3f3;
    }
  }

.grid-container--1-sidebar {
  margin: 20px;
  padding: 10px;
  border: 1px solid #cecece;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #f7f4f4eb;
}

.grid-container--1-sidebar:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
button {
  font-size: 16px;
  color: #f3f3f3;
  background-color: #eca0ff;
  border: 1px solid #eca0ff;
  box-shadow: #84ffc9;
  padding: 20px;
  width: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #eca0ffa1;
}

article .grid-container--3-article {
  padding: 10px;
}
.link {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: rgba(103, 57, 241, 0.824);
}

.link:hover {
  color: #84ffc9;
}

p {
  color: #030303;
  width: 500px;
}

h2,
h3 {
  color: rgba(103, 57, 241, 0.824);
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

article {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

footer {
  height: 100px;
  background-color: #84ffc9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #b584ff;
  text-decoration: none;
  padding: 0.3em;
}
footer a:hover {
  color: darkviolet;
}
